body {
    background-color: #f2ebe9;
    color: #0d0d0d;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body header {
    color: #0d0d0d;
   text-align: center;
}

nav a {
    background-color: #264143;
    border-radius: 25px; /* for rounded corners */
    padding: 8px;
    text-decoration: none;
    color: #f2ebe9;
}

img {
    margin-bottom: 40px;
}

p {
    font-size: medium;
    margin-top: 60px;
}

article {
    margin-top: 40px;
}

h3 {
    background-color: rgba(38,65,67,0.2);
}

li {
    list-style-type: none;
}
